<!DOCTYPE html>
<html lang="en">

    {% set itemLabels = ["about", "education", "teaching", "activities", "industry", "others", "interests"] %}
    {% set titles = namespace() %}
    {% block sections %}
        {% set titles.mappings = {"about": "About", "education": "Education",
            "teaching": "Teaching", "activities": "Activities",
            "industry": "Industry", "others": "Other Info", "interests": "Interests"} %}
    {% endblock %}    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block title %}
            <title>{{first}}
                {% if alias is defined %}
                    ({{alias}})
                {% endif %}
                {{last}}'s Home Page</title>
        {% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/resume.min.css" rel="stylesheet">
        {% block additional_css %}
        {% endblock %}
        
        <style>
         #about #emails > a {
             padding-right: 50px;
         }
         p br {
             display: block;
             margin: 10px 0;
         }
         body p {
             line-height: 1.6;
         }

         .thesis p {
             margin: 0
         }

         .abstract-hideshow {
             background-color: #32A4D44D;
             margin: 1rem 0;
         }

         .abstract-hideshow + p {
             background-color: #CDD4D74D;
         }
        </style>

    </head>

    <body id="page-top">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">{% block nav_name %}{{first}} {{last}}{% endblock %}</span>
                <span class="d-none d-lg-block">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% for item in itemLabels %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#{{item}}">{{titles.mappings[item]}}</a>
                        </li>
                    {% endfor %}
                    <li class="nav-item" style="padding-top: 20px">
                        <a class="nav-link" style="display: inline" href="/">en</a>
                        <a class="nav-link" style="display: inline" href="/zh/">zh</a>
                    </li>

                    <li class="nav-item" style="padding-top: 20px">
                        <a class="nav-link" href="/blog/">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
                <div class="my-auto">
                    {% block name %}
                        <h1 class="mb-0" style="display: inline; padding-right:20px">{{first}}
                            <span class="text-primary">{{last}}</span>
                        </h1>
                        {% if alias is defined %}
                            <h3 class="mb-1" style="display: inline">
                                a.k.a. {{alias}}
                                <span class="text-primary">{{last}}</span>
                            </h3>
                        {% endif %}
                    {% endblock %}
                    <div class="subheading mb-5" id="emails">
                        {% for email in emails %}
                            <a href="mailto:{{email.address}}">{{email.address}}({{email.use}})</a>
                        {% endfor %}
                    </div>
                    <p class="lead mb-5 paragraph">{{description | replace("\n", "<br/>")}}</p>
                    <div class="social-icons">
                        {% set externals = ["linkedin", "github", "gitlab", "facebook", "twitter", "stack-overflow", "zhihu"] %}
                        {% for ex in externals if social[ex] is defined %}
                            <a href="{{social[ex]}}">
                                <i class="fab fa-{{ex}}"></i>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
                <div class="my-auto">
                    <h2 class="mb-5">{{titles.mappings['education']}}</h2>

                    {% for entry in education %}
                        <div class="resume-item d-flex flex-column flex-md-row mb-5">
                            <div class="resume-content mr-auto">
                                <h3 class="mb-0" style="display: inline; padding-right: 20px">{{entry.school}}</h3>
                                <h4 class="mb=1" style="display: inline">{{entry.location}}</h4>
                                <div class="subheading mb-3">{{entry.degree}}</div>
                                <div>{{entry.subject}}</div>
                                <p>Grade: {{entry.grade}}</p>
                                {% if entry.thesis is defined %}
                                    <div class="thesis" style="margin: 1rem 0">
                                        <p>Thesis:
                                            {% if entry.thesis.link is defined %}
                                                <a href="{{entry.thesis.link}}" style="font-weight: bold">{{entry.thesis.title}}</a>
                                            {% else %}
                                                <b>{{entry.thesis.title}}</b>
                                            {% endif %}
                                            {% if entry.thesis.code is defined %}
                                                <a href="{{entry.thesis.code}}">(code)</a>
                                            {% endif %}
                                            {% if entry.thesis.slides is defined %}
                                                <a href="{{entry.thesis.slides}}">(slides)</a>
                                            {% endif %}
                                        </p>
                                        {% if entry.thesis.description is defined %}
                                            <p>{{entry.thesis.description}}</p>
                                        {% endif %}
                                        {% if entry.thesis.abstract is defined %}
                                            <div>
                                                <div class="abstract-hideshow">Abstract</div>
                                                <p class="paragraph keep-space">{{entry.thesis.abstract | replace("\n", "<br/>")}}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if entry.courses is defined %}
                                    <div>
                                        Courses:
                                        <ul>
                                            {% for course in entry.courses %}
                                                <li>{{course.code}} {{course.name}}
                                                    {% if course.report is defined %}
                                                        <a href="{{course.report}}">(report)</a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="resume-date text-md-right">
                                {% set fromStr = "%02d / %d" | format(entry.span.from.month, entry.span.from.year) %}
                                {% if entry.span.to.month is defined %}
                                    {% set toStr = "%02d / %d" | format(entry.span.to.month, entry.span.to.year) %}
                                {% else  %}
                                    {% set toStr = entry.span.to %}
                                {% endif %}
                                <span class="text-primary">{{"%s - %s" | format(fromStr, toStr)}}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="teaching">
                <div class="my-auto">
                    <h2 class="mb-5">{{titles.mappings['teaching']}}</h2>

                    {% for entry in teaching %}
                        <div class="resume-item d-flex flex-column flex-md-row mb-5">
                            <div class="resume-content mr-auto">
                                <h3 class="mb-0" style="display: inline; padding-right: 20px">{{entry.school}}</h3>
                                <h4 class="mb=1" style="display: inline">{{entry.location}}</h4>
                                <div class="subheading mb-3">{{entry.position}}</div>
                                {% if entry.description is defined %}
                                    <p class="writing paragraph keep-space">{{entry.description | replace("\n", "<br/>")}}</p>
                                {% endif %}
                            </div>
                            <div class="resume-date text-md-right">
                                {% set fromStr = "%02d / %d" | format(entry.span.from.month, entry.span.from.year) %}
                                {% if entry.span.to.month is defined %}
                                    {% set toStr = "%02d / %d" | format(entry.span.to.month, entry.span.to.year) %}
                                {% else  %}
                                    {% set toStr = entry.span.to %}
                                {% endif %}
                                <span class="text-primary">{{"%s - %s" | format(fromStr, toStr)}}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="activities">
                <div class="my-auto">
                    <h2 class="mb-5">{{titles.mappings['activities']}}</h2>

                    {% for entry in activities %}
                        <div class="resume-item d-flex flex-column flex-md-row mb-5">
                            <div class="resume-content mr-auto">
                                <h3 class="mb-0" style="display: inline; padding-right: 20px">{{entry.name}}</h3>
                                <h4 class="mb=1" style="display: inline">{{entry.position}}</h4>
                                {% if entry.description is defined %}
                                    <p class="writing paragraph">{{entry.description | replace("\n", "<br/>")}}</p>
                                {% endif %}
                            </div>
                            {% if entry.period is defined %}
                                <div class="resume-date text-md-right">
                                    <span class="text-primary">{{entry.period}}</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="industry">
                <div class="my-auto">
                    <h2 class="mb-5">{{titles.mappings['industry']}}</h2>

                    {% for entry in industry %}
                        <div class="resume-item d-flex flex-column flex-md-row">
                            <div class="resume-content mr-auto">
                                <h3 class="mb-0">{{entry.company}}</h3>
                                <h4 class="mb=1" style="display: inline">{{entry.location}}</h4>
                                <div class="subheading mb-3">{{entry.position}}</div>
                                {% if entry.description is defined %}
                                    <p class="writing paragraph">{{entry.description | replace("\n", "<br/>")}}</p>
                                {% endif %}
                            </div>
                            <div class="resume-date text-md-right">
                                {% set fromStr = "%02d / %d" | format(entry.span.from.month, entry.span.from.year) %}
                                {% if entry.span.to.month is defined %}
                                    {% set toStr = "%02d / %d" | format(entry.span.to.month, entry.span.to.year) %}
                                {% else  %}
                                    {% set toStr = entry.span.to %}
                                {% endif %}
                                <span class="text-primary">{{"%s - %s" | format(fromStr, toStr)}}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="others">
                <div class="my-auto">
                    <h2 class="mb-5">{{titles.mappings['others']}}</h2>

                    <p class="writing paragraph mb-0">{{others | replace("\n", "<br/>")}}</p>
                </div>
            </section>

            <hr class="m-0">

            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
                <div class="my-auto">
                    <h2 class="mb-5">{{titles.mappings['interests']}}</h2>
                    <p class="writing paragraph mb-0">{{interests | replace("\n", "<br/>")}}</p>
                </div>
            </section>

        </div>

        <footer class="page-footer font-small" style="background-color: #32A4D44D !important;">

            <!-- Copyright -->
            <div class="text-center py-3">
                The site is generated by <a href="http://jinja.pocoo.org/">Jinja</a>
                and the source code is <a href="https://github.com/HuStmpHrrr/site-source">here</a>.
                
            </div>
            <!-- Copyright -->

        </footer>
        
        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/js/resume.min.js"></script>

        <script>
         $(document).ready(function(){
             $(".abstract-hideshow").click(function(event){
                 var target = $(event.target);
                 target.next().toggle("slow");
             }).next().hide();
         });
        </script>
        
        {% block additionalJs %}
        {% endblock %} 
    </body>

</html>
